# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
test-results/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

runner

public/docs/**
public/docs-index.json
public/docs-search-index.json
public/internal-docs/**
public/internal-docs-index.json
public/internal-docs-search-index.json